h2.intro{
  font-family: fantasy;
  color: purple;
  font-style: italic;
  text-align: center;
}
p.intro{
  font-size: 25px;
  color: lightblue;
}
img.intro{
display: block;
margin: auto;
 height: 400px;
 width: auto;
}
div.fancy {
  font-family: 'Charm', cursive;
  color: red;
}
span.boring {
  font-family: 'Inconsolata', monospace;
  color: grey;
}
